body{
	font-family: sans-serif;
}

table.d3-table{
	color: #333;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

tr.d3-table-row.even{
	background-color: rgb(245, 245, 245);
}

th.d3-table-header-cell{
	background-image:  url('header-background.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.5rem;
}

td{
	font-weight: lighter;	
	padding-left: 1rem;
	padding-right: 1rem;
}


.dreadful-read{
	background-color: #FF928D;
	color: #850000;
}

.bad-read{
	background-color: #FFC2C2;
	color: #850000;
}

.good-read{
	background-color: #CBEDC3;
	color: #014900;
}

.great-read{
	background-color: #9BDE92;
	color: #014900;
}

.nav-container{
	text-align: center;
}

.nav{
	padding-bottom: 2rem;
}

.tab-button{
	text-align: center;
	font-size: 2rem;
	padding-top: 2rem;	
	margin-left: 10px;
	margin-right: 10px;
	padding: 0.5rem;
	color: #2276CE;
}

.tab-button:hover{
	background-color: #ddd;
	color: #14457A;
}

.active-tab{
	color: #333;
	border-bottom: solid 1px #fff;
}

.inactive-tab{
	border-bottom: solid 1px #2276CE;
	cursor: pointer;
}

.tab-page{
	text-align: center;
}

.key-container{
	text-align: center;
}

.key{
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.label{
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
}

.key-swatch{
	border: solid 1px rgb(245, 245, 245);
	width: 50px;
	height: 50px;
	display: inline-block;
}