body{
	font-family: sans-serif;
}

table.d3-table{
	color: #333;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

tr.d3-table-row.even{
	background-color: rgb(245, 245, 245);
}

th.d3-table-header-cell{
	background-image:  url('header-background.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.5rem;
}

td{
	font-weight: lighter;	
	padding-left: 1rem;
	padding-right: 1rem;
}

.dreadful-read{
	background-color: #E48EAE;
}

.bad-read{
	background-color: #E4BCCB;
}

.good-read{
	background-color: #E9FBC0;
}

.great-read{
	background-color: #D4FB79;
}